


/* == HEADER == */
#header {
    background-color: #3C1700;
}

#header a {
    color: white;
}

ul li.active {
    background-color: rgba(119, 34, 0, 0.7) !important;
    color: rgba(100, 30, 0, 0.87);
    font-size: larger;
}

#online-link {
    background-color: rgba(100, 30, 0, 0.87);
}


/* == ENTRY == */

.entry{
    width: 300px;
}

/*==CONTACT==*/
.directions{
    height:450px;
}

.map {
    height: 400px;
}

/* == FOOTER == */
#footer {
    background-color: #3C1700;
    color: white;
}

#emaillist {
    padding-top: 40px;
}
#whole{
	background-image: url("../img/wallpaper.jpg");
	background-repeat:no-repeat;
    background-size:100% 100%;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#mainfoot {
  height: 60px;
}
