


/* == HEADER == */
#header {
    background-color:  rgba(119, 34, 0, 0.7) ;
}

#header a {
    color: white;
}

ul li.active {
    background-color: rgba(119, 34, 0, 0.7) !important;
    color: rgba(100, 30, 0, 0.87);
    font-size: larger;
}

#online-link {
    background-color: rgba(100, 30, 0, 0.87);
}


/* == ENTRY == */

.entry{
    width: 300px;
}

/*==CONTACT==*/
.directions{
    height:450px;
}

.map {
    height: 400px;
}

/* == FOOTER == */
#footer {
    background-color: rgba(119, 34, 0, 0.7) ;
    color: white;
}

.row{
	padding-top:10px;
}

body{
  	background-image: url("../img/wallpaper.jpg");
	background-repeat:no-repeat;
    background-size:100% 100%;
}
#emailbox{
	color:black;
	margin-top:4px;
}
