<div class="row">
    <div class="list-group col-md-4">
        <a href="#/menu/{{item.catname}}" class="list-group-item"
           ng-class="model.checkActive(item.catname)"
           ng-repeat="item in model.menu">
            {{item.catname}}
        </a>
    </div>
    <div class="col-md-8">
        <div class="list-group">
            <div id="entryItems" class="list-group-item" ng-repeat="entry in model.entries">
                <h4 class="list-group-item-heading">{{entry.subname}}</h4>
                <p class="list-group-item-text">{{entry.subdesc}} {{entry.subprice}}</p>
                <img class="entry" ng-src="img/menu/{{entry.subimg}}" alt="{{entry.subname}}">
            </div>
        </div>
    </div>
</div>
