<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<input id ="emailbox" type="email" placeholder="Your Email">
					</div>
					<div class="col-md-offset-1 col-md-3">
						<button type="button" class="btn btn-success">Subscribe</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					<p>Signup to be on our e-mail list and be the first to
							know about new specials and/or promotions</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						© 2016 Flavor of India. All rights reserved.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class = "row">
					<div class="col-md-6 text-center">
						<h4>social media</h4>
						<div>
							<ul class="list-inline">
								<li>
									<a href=""><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href=""><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href=""><i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>