<nav class="navbar navbar-default" data-ng-controller="headerController as model">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Flavor of India</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-class="{'active': model.$location.url() == '/'}"><a href="#/">Home</span></a></li>
                <li data-ng-class="{'active': model.$location.url() == '/menu'}"><a href="#/menu">Our Menu</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order Online <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">link1</a></li>
                        <li><a href="">link2</a></li>
                        <li><a href="">link3</a></li>
                        <li><a href="">link4</a></li>
                    </ul>
                </li>
                <li data-ng-class="{'active': model.$location.url() == '/reservation'}"><a href="#/reservation">Reservation</a></li>
                <li data-ng-class="{'active': model.$location.url() == '/contact'}"><a href="#/contact">Contact Us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>